/*
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
========================================
========================================
========================================
----------------------------------------
USWDS THEME CUSTOM STYLES
----------------------------------------
!! Copy this file to your project's
   sass root. Don't edit the version
   in node_modules.
----------------------------------------
Custom project SASS goes here.

i.e.
@include u-padding-right('05');
----------------------------------------
*/
.usa-footer__return-to-top {
  a {
    color: color('primary-vivid');
    font-weight: bold;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}
.usa-footer__primary-section,
.usa-footer__secondary-section {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.usa-footer__primary-section {
  font-size: 1rem;
  line-height: 1;
  ul {
    &.menu {
      margin-left: 0;
      a {
        color: color('primary');
        text-decoration: none;
        &:hover { text-decoration: underline; }
      }
    }
    li {
      margin-bottom: .5rem;
      &:first-of-type {
        margin-bottom: .8rem;
        a {
          color: color('base-darker');
          font-weight: bold;
          font-size: 1.1rem;
        }
      }
    }
  }
}
@media (min-width: 64em) {
  .usa-nav__secondary {
    bottom: 6rem !important;
  }
  .usa-nav__submenu {
    z-index: 9999 !important;
  }
  .usa-layout-docs__sidenav {
    width: 25%;
  }
  .usa-layout-docs__main {
    width: 75%;
  }
}

.usa-footer__contact-heading {
  font-size: 1.2rem;
}
.usa-footer__contact-info {
  line-height: 1.26;
}
.usa-footer__copyright-disclaimers {
  font-size: 1rem;
  background-color: #c6c7c9;
  padding-top: 1rem;
  padding-bottom: 1rem;
  .usa-footer__disclaimer-links {
    color: color('base-darker');
    text-align: right;
  }
  ul {
    margin: 0;
    li, a {
      color: color('base-darker');
      display: inline;
      text-decoration: none;
    }
  }
}

.usa-button {
  padding: .5rem 1rem;
}
.usa-hero {
  background-image: none;
  padding: 1rem 0 3rem;
  .region-frontpage-outlooks-hero,
  .block-interactive-outlooks {
    color: color('base-darkest');
    h2 {
      margin: .5em 0 0;
    }
    h3 {
      font-weight: normal;
      margin: -.25em 0 .5em;
    }
  }
  .map-data-column {
    .usa-button {
      background-color: color('accent-warm');
    }
  }
}
.usa-checkbox__input,
.usa-radio__input {
  @include not-sr-only;
}
.usa-radio__input {
  position: absolute !important;
}
.fa-external-link-alt {
  font-size: 60%;
  margin-left: 3px;
  margin-top: 3px;
  vertical-align: text-top;
}
#main-content a {
  color: color('primary');
  text-decoration: none;
  &:hover {
    color: color('primary-vivid');
    text-decoration: underline;
  }
  &:visited {
    color: color('primary-dark');
  }
}
.outlooks-selector-container {
  right: 0;
  top: 10px;
  z-index: 500;
}
#outlooks-selector {
  .usa-label {
    display: none;
  }
  select {
    cursor: pointer;
    float: left;
    height: 2.1rem;
    margin-right: .5rem;
    width: auto;
    line-height: 1;
  }
  .usa-button { margin-top: 10px; }
}
button:not([disabled]):focus, input:not([disabled]):focus, select:not([disabled]):focus, textarea:not([disabled]):focus {
    outline: none !important;
}
.usa-layout-docs {
  font-family: family('body');
}
.usa-prose > h1 {
  font-size: 2rem;
}
.node--type-outlooks img {
  width: 100%;
  height: auto;
}

.ckeditor-accordion-container > dl dt > a {
  background-color: #999;
  border-bottom: 2px solid #fff;
}

#main-content a.ckeditor-accordion-toggler {
  color: #fff;
  font-weight:bold;
}
.ckeditor-accordion-container > dl {
  border: 0 none;
}
