/*
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
========================================
========================================
========================================
----------------------------------------
USWDS THEME CUSTOM STYLES
----------------------------------------
!! Copy this file to your project's
   sass root. Don't edit the version
   in node_modules.
----------------------------------------
Custom project SASS goes here.

i.e.
@include u-padding-right('05');
----------------------------------------
*/
.usa-footer__return-to-top {
  a {
    color: color('primary-vivid');
    font-weight: bold;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}
.usa-footer__primary-section,
.usa-footer__secondary-section {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.usa-footer__primary-section {
  font-size: 1rem;
  line-height: 1;
  ul {
    &.menu {
      margin-left: 0;
      a {
        color: color('primary');
        text-decoration: none;
        &:hover { text-decoration: underline; }
      }
      padding-left: 0;
      list-style-type: none;
    }
    li {
      margin-bottom: .5rem;
      &:first-of-type {
        margin-bottom: .8rem;
        a {
          color: color('base-darker');
          font-weight: bold;
          font-size: 1.1rem;
        }
      }
    }
  }
}
@media (min-width: 64em) {
  .usa-nav__secondary {
    bottom: 6rem !important;
  }
  .usa-nav__submenu {
    z-index: 9999 !important;
  }
  .usa-layout-docs__sidenav {
    width: 25%;
  }
  .usa-layout-docs__main {
    width: 75%;
  }
}

.usa-footer__contact-heading {
  font-size: 1.2rem;
}
.usa-footer__contact-info {
  line-height: 1.26;
}
.usa-footer__copyright-disclaimers {
  font-size: 1rem;
  background-color: #c6c7c9;
  padding-top: 1rem;
  padding-bottom: 1rem;
  .usa-footer__disclaimer-links {
    color: color('base-darker');
    text-align: right;
  }
  ul {
    margin: 0;
    li, a {
      color: color('base-darker');
      display: inline;
      text-decoration: none;
    }
  }
}

.usa-button {
  padding: .5rem 1rem;
}
.usa-hero {
  background-image: none;
  padding: 1rem 0 3rem;
  .region-frontpage-outlooks-hero,
  .block-interactive-outlooks {
    color: color('base-darkest');
    h2 {
      margin: .5em 0 0;
    }
    h3 {
      font-weight: normal;
      margin: -.25em 0 .5em;
    }
  }
  .map-data-column {
    .usa-button {
      background-color: color('accent-warm');
    }
  }
}
.usa-checkbox__input,
.usa-radio__input {
  @include not-sr-only;
}
.usa-radio__input {
  position: absolute !important;
}
.fa-external-link-alt {
  font-size: 60%;
  margin-left: 3px;
  margin-top: 3px;
  vertical-align: text-top;
}
#main-content a {
  color: color('primary');
  text-decoration: none;
  &:hover {
    color: color('primary-vivid');
    text-decoration: underline;
  }
  &:visited {
    color: color('primary-dark');
  }
}
.outlooks-selector-container {
  right: 0;
  top: 10px;
  z-index: 500;
}
#outlooks-selector {
  .usa-label {
    display: none;
  }
  select {
    cursor: pointer;
    float: left;
    height: 2.1rem;
    margin-right: .5rem;
    width: auto;
    line-height: 1;
  }
  .usa-button { margin-top: 10px; }
}
button:not([disabled]):focus, input:not([disabled]):focus, select:not([disabled]):focus, textarea:not([disabled]):focus {
    outline: none !important;
}
.usa-layout-docs {
  font-family: family('body');
}
.usa-prose > h1 {
  font-size: 2rem;
}
.node--type-outlooks img {
  width: 100%;
  height: auto;
}

.ckeditor-accordion-container > dl dt > a {
  background-color: #999;
  border-bottom: 2px solid #fff;
}

#main-content a.ckeditor-accordion-toggler {
  color: #fff;
  font-weight:bold;
}
.ckeditor-accordion-container > dl {
  border: 0 none;
}
@media (min-width: 40em) {
  .usa-sidenav .usa-current::after {
    background-color: #005ea2;
    border-radius: 0;
    bottom: .25rem;
    top: .25rem;
    width: .25rem;
  }
}
.usa-sidenav .usa-current::after {
  background-color: #005ea2;
  border-radius: 0;
}
.usa-sidenav > .usa-sidenav__item:not(:first-of-type) a > span::after {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;

  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f078";
  color: #ccc;
  position: absolute;
  right: 1.3rem;
}
.usa-sidenav > .usa-sidenav__item:not(:first-of-type) a:hover > span::after {
  color: #005ea2;
}
.usa-sidenav > .usa-sidenav__item:not(:first-of-type) a.usa-current {
  background-color: #e6e6e6;
}
.usa-sidenav > .usa-sidenav__item:not(:first-of-type) a.usa-current > span::after {
  color: #005ea2;
  right: .25rem;
}
#main-content .usa-sidenav a:hover {
  background-color: #f1f1f1;
  color: #005ea2;
}
.usa-sidenav > .usa-sidenav__item.first a {
  /*padding-top: 0.5rem;
  padding-right: 1rem;
  padding-bottom: 0.5rem;
  padding-left: 1.25rem;*/
}
.usa-sidenav > .usa-sidenav__item.first a > span::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;

  font-family: "Font Awesome 5 Free";
  font-size: 1rem;
  font-weight: 900;
  content: "\f015";
  color: #005ea2;
  position: absolute;
  top: .75rem;
  left: .75rem;
}
.usa-sidenav > .usa-sidenav__item {
  font-size: 1.25rem;
}
.usa-sidenav__sublist a {
  padding-left: 2.25rem;
}
.usa-sidenav__sublist .usa-sidenav__sublist {
  font-size: .9rem;
}
.usa-sidenav__sublist .usa-sidenav__sublist a {
  padding-left: 3.35rem;
}
.usa-logo .noaa-logo {
  width: 90px;
  height: auto;
}
.usa-logo a {
  display: inline-block;
  line-height: .7;
  margin-top: -1em;
  padding-left: .2em;
  vertical-align: text-top;

  .cpc-logo__text {
    color: #005ea2;
    font-size: .9em;
  }
  .cpc-logo__tagline {
    font-size: .5em;
    font-weight: 400;
    padding-left: .15em;
  }
}
@media (min-width: 64em) {
  #block-cpc-breadcrumbs .usa-nav__secondary-links {
    float: left;
    padding-top: 2rem;
    a {
      color: #005ea2;
    }
    .usa-nav__secondary-item {
      color: #71767a;
      &+.usa-nav__secondary-item::before {
        color: #71767a;
        content: "\f054";
        font-family: "Font Awesome 5 Free";
        font-size: 70%;
        padding-right: .25rem;
      }
    }
  }
}
@media (min-width: 40em) {
  #main-content {
    &.usa-layout-docs.usa-section {
      padding-top: 2rem;
    }
  }
}

.usa-banner__inner,
.usa-banner__content,
.grid-container,
.usa-footer > .grid-container,
.usa-footer__primary-container,
.usa-footer__primary-section > .grid-container,
.usa-footer__secondary-section > .grid-container {
  max-width: 80rem;
}

@media (min-width: 64em) {
  .usa-header--extended .usa-navbar,
  .usa-header--extended .usa-nav__inner {
    max-width: 80rem;
  }
}
