.map-column .usa-checkbox__input,
.map-column .usa-radio__input {
  position: absolute !important;
}
.map-column .usa-radio__label {
  display: inline-block;
}
#drought-map-header .valid-dates,
#temp-map-header .valid-dates,
#precip-map-header .valid-dates,
#hazards-map-header .valid-dates,
#global-tropics-map-header .valid-dates,
#week34-map-header .valid-dates {
  color: #71767a;
  font-size: 1em;
}
.map-data-column {
  padding-left: 2rem;
}
.map-data-column .grid-row {
  margin-bottom: 1.25em;
}
.map-data-column .drought-monitor-link {
  margin: 0;
  padding-left: 2px;
}
.map-column h4,
.map-data-column h4 {
  margin-top: 0;
  margin-bottom: .75em;
}
.map-column h4 + ul,
.map-data-column h4 + ul {
  list-style-type: none;
  margin-top: -.3em;
  padding-left: 0;
}
.image-links h4 + ul {
  margin-top: -.5em;
}
.map-data-column ul {
  margin-bottom: 0;
  padding-left: 0;
}
.drought-map-legend ul {
  padding-left: 1px;
}
#hazards-map__view-controls,
#temp-map__view-controls,
#precip-map__view-controls,
#drought-map__view-controls,
#global-tropics-map__view-controls,
#week34-map__view-controls {
  padding-top: 1rem;
}
@media (min-width: 64em) {
  .map-column .usa-radio__label:first-of-type {
    margin-right: 1em;
  }
}
#hazards-map__view-select .usa-radio {
  padding-left: 1rem;
}
table.hazards-data {
  margin-bottom: 0;
  margin-top: 0;
}
table.hazards-data th {
  font-weight: bold;
}
#hazards-map,
#drought-map,
#temp-map,
#precip-map,
#global-tropics-map,
#week34-map {
  height: 400px;
}
#temp-outlook h2,
#precip-outlook h2 {
  margin-bottom: 0;
  margin-top: .7em;
  padding-left: .2em;
}
#temp-outlook p.outlook-date,
#precip-outlook p.outlook-date {
  font-size: 1.2em; margin-top: 0; padding-left: .3em; }
#temp-outlook button,
#precip-outlook button {
  margin-top: 1em; }
/*#drought-map {
  background: transparent url("https://www.cpc.ncep.noaa.gov/products/expert_assessment/month_drought.png") no-repeat center/contain;
}
#hazards-map {
  background: transparent url("https://www.cpc.ncep.noaa.gov/products/predictions/threats/hazards_d8_14_contours.png") no-repeat center/contain;
}
#temp-map {
  background: transparent url("https://www.cpc.ncep.noaa.gov/products/predictions/610day/610temp.new.gif") no-repeat center/contain;
}
#precip-map {
  background: transparent url("https://www.cpc.ncep.noaa.gov/products/predictions/610day/610temp.new.gif") no-repeat center/contain;
}*/
.opacity-slider {
  display: inline-block;
  margin-top: -3px;
  padding: .5em;
  text-align: center;
}
.opacity-slider label {
  display: inline-block;
  float: left;
  margin-top: -10px;
  margin-left: 5px;
  width: 110px;
}
.opacity-slider .opacity-slider__range,
.opacity-slider .precip-opacity-slider__range,
.opacity-slider .temp-opacity-slider__range,
.opacity-slider .drought-opacity-slider__range,
.opacity-slider .global-tropics-opacity-slider__range,
.opacity-slider .week34-opacity-slider__range {
  -webkit-appearance: none;
  appearance: none;
  height: 10px;
  border-radius: 10px;
  border-width: 0;
  background: transparent;
  display: inline-block;
  float: left;
  outline: none;
  padding: 0;
  vertical-align: middle;
  width: 290px;
}

.opacity-slider .opacity-slider__range::-webkit-slider-thumb,
.opacity-slider .precip-opacity-slider__range::-webkit-slider-thumb,
.opacity-slider .temp-opacity-slider__range::-webkit-slider-thumb,
.opacity-slider .drought-opacity-slider__range::-webkit-slider-thumb,
.opacity-slider .global-tropics-opacity-slider__range::-webkit-slider-thumb,
.opacity-slider .week34-opacity-slider__range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border-width: 0;
  background: #0071bc;
  cursor: pointer;
  margin-top: -6px;
}

.opacity-slider .opacity-slider__range::-moz-range-thumb,
.opacity-slider .precip-opacity-slider__range::-moz-range-thumb,
.opacity-slider .temp-opacity-slider__range::-moz-range-thumb,
.opacity-slider .drought-opacity-slider__range::-moz-range-thumb,
.opacity-slider .global-tropics-opacity-slider__range::-moz-range-thumb,
.opacity-slider .week34-opacity-slider__range::-moz-range-thumb  {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #0071bc;
  cursor: pointer;
}
.opacity-slider .opacity-slider__range::-webkit-slider-runnable-track,
.opacity-slider .precip-opacity-slider__range::-webkit-slider-runnable-track,
.opacity-slider .temp-opacity-slider__range::-webkit-slider-runnable-track,
.opacity-slider .drought-opacity-slider__range::-webkit-slider-runnable-track,
.opacity-slider .global-tropics-opacity-slider__range::-webkit-slider-runnable-track,
.opacity-slider .week34-opacity-slider__range::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  background: #aeb0b5;
  border-radius: 5px;
  border: 0;
}
.opacity-slider .opacity-slider__range::-moz-range-track,
.opacity-slider .precip-opacity-slider__range::-moz-range-track,
.opacity-slider .temp-opacity-slider__range::-moz-range-track,
.opacity-slider .drought-opacity-slider__range::-moz-range-track,
.opacity-slider .global-tropics-opacity-slider__range::-moz-range-track,
.opacity-slider .week34-opacity-slider__range::-moz-range-track  {
  width: 100%;
  height: 10px;
  cursor: pointer;
  background: #aeb0b5;
  border-radius: 5px;
  border: 0;
}
.opacity-slider .opacity-slider__range::-ms-track,
.opacity-slider .precip-opacity-slider__range::-ms-track,
.opacity-slider .temp-opacity-slider__range::-ms-track,
.opacity-slider .drought-opacity-slider__range::-ms-track,
.opacity-slider .global-tropics-opacity-slider__range::-ms-track,
.opacity-slider .week34-opacity-slider__range::-ms-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  /* Hides the slider so custom styles can be added */
  background: transparent;
  border-color: transparent;
  color: transparent;
}
.opacity-slider .opacity-slider__range::-ms-fill-lower,
.opacity-slider .precip-opacity-slider__range::-ms-fill-lower,
.opacity-slider .temp-opacity-slider__range::-ms-fill-lower,
.opacity-slider .drought-opacity-slider__range::-ms-fill-lower,
.opacity-slider .global-tropics-opacity-slider__range::-ms-fill-lower
.opacity-slider .week34-opacity-slider__range::-ms-fill-lower {
  background: #aeb0b5;
  border-radius: 5px;
}
.opacity-slider .opacity-slider__range::-ms-fill-upper,
.opacity-slider .precip-opacity-slider__range::-ms-fill-upper,
.opacity-slider .temp-opacity-slider__range::-ms-fill-upper,
.opacity-slider .drought-opacity-slider__range::-ms-fill-upper,
.opacity-slider .global-tropics-opacity-slider__range::-ms-fill-upper,
.opacity-slider .week34-opacity-slider__range::-ms-fill-upper {
  background: #aeb0b5;
  border-radius: 5px;
}
.duration-form label { margin-top: 0; }
.loader {
  border: 5px solid #d6d7d9; /* Light gray */
  border-top: 5px solid #3498db; /* Dark gray */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
}
@-ms-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.temp-map-view,
.precip-map-view {
  display: inline-block;
  vertical-align: middle;
  margin: 5px 0 0 7px;
}
.temp-map-view ul,
.precip-map-view ul {
  float: right;
}
.temp-map-view ul li,
.precip-map-view ul li {
  float: left;
}
.temp-map-view ul li:last-of-type,
.precip-map-view ul li:last-of-type {
  padding-left: 1.8rem;
}
.temp-map-view input[type=radio],
.precip-map-view input[type=radio] {
  margin-left: 0;
  max-width: 10rem;
}
.drought-map-legend p {
  font-weight: bold;
  margin-bottom: .5em;
}
.persists span,
.improves span,
.removal span,
.development span {
  display: inline-block;
  margin-right: .25em;
  height: 12px;
  width: 12px;
}
.persists span {
  background-color: #9b634a;
}
.improves span {
  background-color: #ded2bc;
}
.removal span {
  background-color: #b2ad69;
}
.development span {
  background-color: #ffde63
}

.high-risk-excessive-heat-square{
  height: 10px;
  width: 10px;
  background-color: #96524F
}
.moderate-risk-excessive-heat-square{
  height: 10px;
  width: 10px;
  background-color: #B95550
}
.slight-risk-excessive-heat-square{
  height: 10px;
  width: 10px;
  background-color: #C57554
}


.high-risk-much-above-normal-temperature-square{
  height: 10px;
  width: 10px;
  background-color: #B95550
}
.moderate-risk-much-above-normal-temperature-square{
  height: 10px;
  width: 10px;
  background-color: #E35A52
}
.slight-risk-much-above-normal-temperature-square{
  height: 10px;
  width: 10px;
  background-color: #F7A9A7
}


.high-risk-much-below-normal-temperature-square{
  height: 10px;
  width: 10px;
  background-color: #4F6899
}
.moderate-risk-much-below-normal-temperature-square{
  height: 10px;
  width: 10px;
  background-color: #538FE8
}
.slight-risk-much-below-normal-temperature-square{
  height: 10px;
  width: 10px;
  background-color: #A2C9FB
}

.high-precip-square{
  height: 10px;
  width: 10px;
  background-color: #879B57
}
.moderate-precip-square{
  height: 10px;
  width: 10px;
  background-color: #C4EC74
}
.slight-precip-square{
  height: 10px;
  width: 10px;
  background-color: #E4FCA8
}
.frozen-precip-square{
  height: 10px;
  width: 10px;
  background-color: #5DA7BF
}
.flooding-possible-square{
  height: 10px;
  width: 10px;
  background-color: #F1E1FD
}

.moderate-risk-high-winds-square{
  height: 10px;
  width: 10px;
  background-color: #986951
}
.slight-risk-high-winds-square{
  height: 10px;
  width: 10px;
  background-color: #DAC499
}

.slider {
  -webkit-appearance: none;
  width: 30%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}
.block-interactive-outlooks {
  margin-top: 20px;
}
.outlooks-selector-container {
  position: absolute;
  left: 650px;
  top: 40px !important;
}
#legend_div {
  position:absolute;
  z-index: 1000;
  left: 50px;
  top: 0px;
}
.temp-map-legend,
.precip-map-legend {
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 1000;
}
.temp-map-legend img,
.precip-map-legend img {
  height: 20px;
  margin: 0 auto;
  width: auto;
}
.geocoder-control-input {
  position:absolute;
  left:0;
  top:285px;
  background-color:white;
  background-repeat:no-repeat;
  /* background-image:url("img/search.png"); */
  background-size:26px;
  border:none;
  padding:0;
  text-indent:6px;
  font-size:13px;
  line-height:normal;
  height:auto;
  padding-top:5px;
  padding-bottom:5px;
  width:100%;
  background-position:right center;
  cursor:pointer;
  box-sizing:border-box
}
.geocoder-control-input-disabled {
  background-color:#f4f4f4;
  /* background-image:url("img/search-disabled.png") */
}
.geocoder-control {
  width:26px;
  height:26px;
  -webkit-transition:width .175s ease-in;
  -moz-transition:width .175s ease-in
  ;-ms-transition:width .175s ease-in;
  -o-transition:width .175s ease-in;
  transition:width .175s ease-in
}
.geocoder-control-expanded,
.leaflet-touch
.geocoder-control-expanded {
  width:275px
}
.geocoder-control-input.geocoder-control-loading {
  /* background-image:url("img/loading.gif"); */
  background-size:26px
}
@media only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2 / 1),
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-device-pixel-ratio: 2) {
  /* .geocoder-control-input{
    background-image:url("img/search@2x.png")
  } */
  /* .geocoder-control-input-disabled{
    background-image:url("img/search@2x-disabled.png")
  } */
  /* .geocoder-control-input.geocoder-control-loading{
    background-image:url("img/loading@2x.gif")
  } */
}
.geocoder-control-input:focus {
  outline:none;cursor:text
}
.geocoder-control-input::-ms-clear {
  display:none
}
.geocoder-control-suggestions {
  width:100%;
  position:absolute;
  top:103px;
  left:0;
  margin-top:10px;
  overflow:auto;
  display:none
}
.geocoder-control-list+.geocoder-control-header {
  border-top:1px
  solid #d5d5d5
}
.geocoder-control-header {
  font-size:10px;
  font-weight:700;
  text-transform:uppercase;
  letter-spacing:0.05em;
  color:#444;
  background:#F2F2F2;
  border-bottom:1px
  solid #d5d5d5;
  display:block;
  padding:.5em
}
.geocoder-control-list {
  list-style:none;
  margin:0;
  padding:0
}
.geocoder-control-suggestions .geocoder-control-suggestion {
  font-size:13px;
  padding:7px;
  background:white;
  border-top:1px
  solid #f1f1f1;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
  cursor:pointer
}
.geocoder-control-suggestions .geocoder-control-suggestion:first-child {
  border:none
}
.geocoder-control-suggestions
.geocoder-control-suggestion
.geocoder-control-selected,
.geocoder-control-suggestions
.geocoder-control-suggestion:hover {
  background:#7FDFFF;
  border-color:#7FDFFF
}
.leaflet-right
.geocoder-control-suggestions {
  left:auto;
  right:0
}
.leaflet-right
.geocoder-control-input {
  left:auto;
  right:0
}
.leaflet-touch
.geocoder-control {
  width:34px
}
.leaflet-touch
.geocoder-control.geocoder-control-expanded {
  width:275px
}
.leaflet-touch
.geocoder-control-input {
  height:34px;
  line-height:30px;
  background-size:30px
}
.leaflet-touch
.geocoder-control-suggestions {
  top:30px;
  width:271px
}
.leaflet-oldie
.geocoder-control-input {
  width:28px;
  height:28px
}
.leaflet-oldie
.geocoder-control-expanded
.geocoder-control-input {
  width:auto
}
.leaflet-oldie
.geocoder-control-input,
.leaflet-oldie
.geocoder-control-suggestions {
  border:1px
  solid #999
}
