  <div class="grid-row">
    <header class="tablet:grid-col-7" id="drought-map-header">
      <h2 class="title"></h2>
      <h3 class="valid-dates"></h3>
    </header>
  </div>

  <div class="grid-row">
    <div class="tablet:grid-col-8 map-column">

      <div class="grid-row">
        <div class="tablet:grid-col-12">
          <div id="drought-map"></div>
        </div>
      </div>

      <div class="grid-row" id="drought-map__view-controls">
        <div class="tablet:grid-col-8">
          <div class="opacity-slider">
            <input type="range" min="0.0" max="1.0" value="0.6" step="0.1" class="drought-opacity-slider__range" id="drought-opacity-level" name="drought-opacity-level">
            <label for="drought-opacity-level">Opacity: <span class="drought-opacity-slider__value"></span>%</label>
          </div>
        </div>
        <div class="tablet:grid-col-4">
          <fieldset class="usa-fieldset">
            <legend class="usa-sr-only">Map View</legend>
            <div class="usa-radio">
              <input class="usa-radio__input" id="drought-conus" type="radio" checked name="drought-map-view" value="conus">
              <label class="usa-radio__label" for="drought-conus">CONUS</label>
              <input class="usa-radio__input" id="drought-alaska" type="radio" name="drought-map-view" value="alaska">
              <label class="usa-radio__label" for="drought-alaska">Alaska</label>
            </div>
          </fieldset>
        </div>
      </div>

    </div><!-- end .map-column-->

    <div class="tablet:grid-col-4 map-data-column">

      <div class="grid-row">
        <div class="tablet:grid-col-12" id="drought-map__view-select">
          <h4>Period</h4>
          <fieldset class="usa-fieldset">
            <legend class="usa-sr-only">Outlook Duration</legend>
            <div class="usa-radio">
              <input class="usa-radio__input" id="monthly" type="radio" checked name="drought-map-duration" value="monthly">
              <label class="usa-radio__label" for="monthly">Monthly</label>
              <input class="usa-radio__input" id="seasonal" type="radio" name="drought-map-duration" value="seasonal">
              <label class="usa-radio__label" for="seasonal">Seasonal</label>
            </div>
          </fieldset>
          <p class="drought-monitor-link"><a href="https://droughtmonitor.unl.edu/" target="_blank">U.S. Drought Monitor<i class="fas fa-external-link-alt"></i></a></p>
        </div>
      </div><!-- end .grid-row -->

      <!--<div class="grid-row">
        <div class="tablet:grid-col-12 discussion-button">
          <button class="usa-button font-sans-3xs">Drought Outlook Discussion</button>
        </div>
      </div>--><!-- end .grid-row -->

      <div class="grid-row">
        <div class="tablet:grid-col-12 drought-image image-links">
          <h4>Discussion</h4>
          <ul style="margin-bottom:1em;">
            <li><a href="">Read Drought Outlook Discussion</a></li>
          </ul>
          <h4>Images</h4>
          <ul>
            <li><a href="">View larger image</a></li>
          </ul>
        </div>
      </div><!-- end .grid-row -->

      <div class="grid-row">
        <div class="tablet:grid-col-12 drought-map-legend">
          <h4>Legend</h4>
          <ul>
            <li class="persists"><span></span> Drought persists</li>
            <li class="improves"><span></span> Drought remains but improves</li>
            <li class="removal"><span></span> Drought removal likely</li>
            <li class="development"><span></span> Drought development likely</li>
          </ul>
        </div>
      </div><!-- end .grid-row -->


    </div><!-- end .map-data-column -->

  </div><!-- end outer .grid-row for .map-column and .map-data-column -->
