  <div class="grid-row">
    <div class="tablet:grid-col-12">
      <h2 id="title">U.S. Monthly Drought Outlook</h2>
      <h3 id="valid-dates"></h3>
    </div>
  </div>

  <div class="grid-row">
    <div class="tablet:grid-col-8 map-column">
      <div class="grid-row">
        <div class="tablet:grid-col-12">
          <div id="drought-map"></div>
        </div>
      </div>
      <div class="grid-row" id="drought-map__view-controls">
        <div class="tablet:grid-col-8">
        </div>
        <div class="tablet:grid-col-4">
          <fieldset class="usa-fieldset">
            <legend class="usa-sr-only">Map View</legend>
            <div class="usa-radio">
              <input class="usa-radio__input" id="conus" type="radio" checked name="drought-map-view" value="conus">
              <label class="usa-radio__label" for="conus">CONUS</label>
              <input class="usa-radio__input" id="alaska" type="radio" name="drought-map-view" value="alaska">
              <label class="usa-radio__label" for="alaska">Alaska</label>
            </div>
          </fieldset>
        </div>
      </div>

    </div><!-- end map-column-->

    <div class="tablet:grid-col-4 map-data-column">

      <div class="tablet:grid-col-12" id="drought-map__view-select">
        <fieldset class="usa-fieldset">
          <legend class="usa-sr-only">Outlook Duration</legend>
          <div class="usa-radio">
            <input class="usa-radio__input" id="monthly" type="radio" checked name="drought-map-duration" value="monthly">
            <label class="usa-radio__label" for="monthly">Monthly</label>
            <input class="usa-radio__input" id="seasonal" type="radio" name="drought-map-duration" value="seasonal">
            <label class="usa-radio__label" for="seasonal">Seasonal</label>
          </div>
        </fieldset>
      </div>

      <p><a href="https://droughtmonitor.unl.edu/" target="">See the U.S. Drought Monitor<i class="fas fa-external-link-alt"></i></a></p>

      <button class="usa-button font-sans-3xs">Drought Outlook Discussion</button>

      <div class="tablet:grid-col-12 drought-map-legend">
        <p>Legend</p>
        <ul>
          <li><span class="persists-color"></span> Drought persists</li>
          <li><span class="improves-color"></span> Drought remains but improves</li>
          <li><span class="removal-color"></span> Drought removal likely</li>
          <li><span class="development-color"></span> Drought development likely</li>
        </ul>
      </div>
      
    </div>

  </div>
