  <div class="grid-row">
    <header class="tablet:grid-col-7" id="global-tropics-map-header">
      <h2 class="title"></h2>
      <h3 class="valid-dates"></h3>
    </header>
  </div>

  <div class="grid-row">
    <div class="tablet:grid-col-8 map-column">

      <div class="grid-row">
        <div class="tablet:grid-col-12">          
          <div id="global-tropics-map"></div>
        </div>
      </div>
      <div class="grid-row" id="global-tropics-map__view-controls">
        <div class="tablet:grid-col-8">
          <div class="opacity-slider">
            <input type="range" min="0.0" max="1.0" value="0.6" step="0.1" class="global-tropics-opacity-slider__range" id="global-tropics-opacity-level" name="global-tropics-opacity-level">
            <label for="global-tropics-opacity-level">Opacity: <span class="global-tropics-opacity-slider__value"></span>%</label>
          </div>
        </div>
      </div>

      <div class="grid-row">
        <div class="tablet:grid-col-12 global-tropics-image image-links">
          <h4>Discussion</h4>
          <ul>
            <li><a href="">Read Outlook Discussion</a></li>
          </ul>
          <h4>Images</h4>
          <ul>
            <li><a href="">View larger image</a></li>
          </ul>
        </div>
      </div><!-- end .grid-row -->

    </div><!-- end .map-column-->

    <div class="tablet:grid-col-4 map-data-column">

      <div class="grid-row">
        <div class="tablet:grid-col-12" id="global-tropics-map__view-select">
          <h4>Duration</h4>
          <fieldset class="usa-fieldset">
            <legend class="usa-sr-only">Outlook Duration</legend>
            <div class="usa-radio">
              <input class="usa-radio__input" id="week1" type="radio" checked name="global-tropics-map-duration" value="week1">
              <label class="usa-radio__label" for="week1">Week 1</label>
              <input class="usa-radio__input" id="week2" type="radio" name="global-tropics-map-duration" value="week2">
              <label class="usa-radio__label" for="week2">Week 2</label>              
            </div>
          </fieldset>
        </div>
      </div><!-- end .grid-row -->

      <div class="grid-row">
        <div class="tablet:grid-col-12" id="hazards-map__layers-table">
          <form class="usa-form hazards-form">
            <fieldset class="usa-fieldset">
            <table class="usa-table usa-table--borderless font-sans-3xs hazards-data">
              <thead>
                <tr class="line-height-sans-1">
                  <th scope="col"></th>
                  {# <th scope="col">High</th> #}
                </tr>
              </thead>
              <tbody class="font-lang-2xs">
          <tr>
            <th scope="row">Tropical Cyclone Formation</th>
            <td id='tropical-cyclone-chkbox'><input class="usa-checkbox__input" id="tropical-cyclone" type="checkbox" name="globaltropics" value="tropical-cyclone" checked></td>
            {# <td id="tropical-cyclone-no-hazards">No Hazards</td> #}
          </tr>
          <tr>
            <th scope="row">Above - Average Rainfall</th>
            <td id="above-average-rainfall-chkbox"><input class="usa-checkbox__input" id="above-average-rainfall" type="checkbox" name="globaltropics" value="above-average-rainfall" checked></td>
            {# <td id="above-average-rainfall-no-hazards">No Hazards</td> #}

          </tr>
          <tr>
            <th scope="row">Below - Average Rainfall</th>
            <td id="below-average-rainfall-chkbox"><input class="usa-checkbox__input" id="below-average-rainfall" type="checkbox" name="globaltropics" value="below-average-rainfall" checked></td>
            {# <td id="below-average-rainfall-no-hazards">No Hazards</td> #}

          </tr>
          <tr>
            <th scope="row">Above - Normal Temperature</th>
            <td id="above-normal-temp-chkbox"><input class="usa-checkbox__input" id="above-normal-temp" type="checkbox" name="globaltropics" value="above-normal-temp" checked></td>
            {# <td id="above-normal-temp-no-hazards">No Hazards</td> #}

          </tr>
          <tr>
            <th scope="row">Below - Normal Temperature</th>
            <td id="below-normal-temp-chkbox"><input class="usa-checkbox__input" id="below-normal-temp" type="checkbox" name="globaltropics" value="below-normal-temp" checked></td>
            {# <td id="below-normal-temp-no-hazards">No Hazards</td> #}

          </tr>
        </tbody>
            </table>
            </fieldset>
          </form>
        </div>
      </div><!-- end .grid-row -->

    </div><!-- end .map-data-column -->


  </div><!-- end outer .grid-row for .map-column and .map-data-column -->
