{{ form.outlooks_select.form_build_id }}
{{ form.outlooks_select.form_id }}

<div class="grid-row">
  <div class="tablet:grid-col-8">
  </div>
  <div class="tablet:grid-col-4">
    <div class="outlooks-selector-container">
      
      {{ form.outlooks_select }}
      {#<form class="usa-form" id="outlooks-selector">
        <label class="usa-label" for="outlook-options">Select an Outlook</label>
        <select class="usa-select" name="outlook-options" id="outlook-options">
          <option value>- Select an Outlook -</option>
          <option value="temp">U.S. Temperature Outlook</option>
          <option value="precip">U.S. Precipitation Outlook</option>
          <option value="hazards">U.S. Hazards Outlook</option>
          <option value="drought">U.S. Drought Outlook</option>
        </select>
        <input class="usa-button" type="submit" value="Select">
      </form>#}
    </div>
  </div>
</div>

<div class="grid-row outlooks">

  <div class="tablet:grid-col-12" id="outlooks-wrapper">
    {# drupal_block('interactive_temp_outlooks') #}
  </div><!-- end .temp -->

</div><!-- end outer .grid-row .outlooks -->
