  <div class="grid-row">
    <header class="tablet:grid-col-7" id="precip-map-header">
      <h2 class="title"></h2>
      <h3 class="valid-dates"></h3>
    </header>
  </div>

  <div class="grid-row">
    <div class="tablet:grid-col-8 map-column">

      <div class="grid-row">
        <div class="tablet:grid-col-12">
          <img id="legend_div" style="margin-top:1px;height:20px;width:500px" src="https://www.cpc.ncep.noaa.gov/products/predictions/610day/interactive/graphics/conus/precip_legend.jpg">
          <div id="precip-map"></div>
        </div>
      </div>
      <div class="grid-row" id="precip-map__view-controls">
        <div class="tablet:grid-col-8">
          <div class="opacity-slider">
            <input type="range" min="0.0" max="1.0" value="0.6" step="0.1" class="precip-opacity-slider__range" id="precip-opacity-level" name="precip-opacity-level">
            <label for="precip-opacity-level">Opacity: <span class="precip-opacity-slider__value"></span>%</label>
          </div>
        </div>
        <div class="tablet:grid-col-4">
          <fieldset class="usa-fieldset">
            <legend class="usa-sr-only">Map View</legend>
            <div class="usa-radio">
              <input class="usa-radio__input" id="precip-conus" type="radio" checked name="precip-map-view" value="conus">
              <label class="usa-radio__label" for="precip-conus">CONUS</label>
              <input class="usa-radio__input" id="precip-alaska" type="radio" name="precip-map-view" value="alaska">
              <label class="usa-radio__label" for="precip-alaska">Alaska</label>
            </div>
          </fieldset>
        </div>
      </div>

      <div class="grid-row">
        <div class="tablet:grid-col-12 precip-image image-links">
          <h4>Discussion</h4>
          <ul>
            <li><a href="">Read Outlook Discussion</a></li>
          </ul>
          <h4>Images</h4>
          <ul>
            <li><a href="">View larger image</a></li>
          </ul>
        </div>
      </div><!-- end .grid-row -->

    </div><!-- end .map-column-->

    <div class="tablet:grid-col-4 map-data-column">

      <div class="grid-row">
        <div class="tablet:grid-col-12" id="precip-map__view-select">
          <h4>Duration</h4>
          <fieldset class="usa-fieldset">
            <legend class="usa-sr-only">Outlook Duration</legend>
            <div class="usa-radio">
              <input class="usa-radio__input" id="precip610day" type="radio" checked name="precip-map-duration" value="precip610day">
              <label class="usa-radio__label" for="precip610day">6&ndash;10 Day</label>
              <input class="usa-radio__input" id="precip814day" type="radio" name="precip-map-duration" value="precip814day">
              <label class="usa-radio__label" for="precip814day">8&ndash;14 Day</label>
              <input class="usa-radio__input" id="precip-monthly" type="radio" name="precip-map-duration" value="precip-monthly">
              <label class="usa-radio__label" for="precip-monthly">Monthly</label>
              <input class="usa-radio__input" id="precip-3month" type="radio" name="precip-map-duration" value="precip-3month">
              <label class="usa-radio__label" for="precip-3month">3 Month</label>
            </div>
          </fieldset>
        </div>

        <div class="tablet:grid-col-12">
          <div class="lead-selector-container">
            <form class="usa-form" id="lead-selector-precip">
              <label class="usa-label" for="lead-options-precip"><b>Select a Lead</b></label>
              <select class="usa-select" name="lead-options-precip" id="lead-options-precip">
                <option value="precip-lead-1"></option>
                <option value="precip-lead-2"></option>
                <option value="precip-lead-3"></option>
                <option value="precip-lead-4"></option>
                <option value="precip-lead-5"></option>
                <option value="precip-lead-6"></option>
                <option value="precip-lead-7"></option>
                <option value="precip-lead-8"></option>
                <option value="precip-lead-9"></option>
                <option value="precip-lead-10"></option>
                <option value="precip-lead-11"></option>
                <option value="precip-lead-12"></option>
                <option value="precip-lead-13"></option>
              </select>
            </form>
          </div>
        </div>
      </div><!-- end .grid-row -->

      {# <div class="grid-row">
        <div class="tablet:grid-col-12 discussion-button">
          <button class="usa-button font-sans-3xs">6-10 Day Outlook Discussion</button>
        </div>
      </div><!-- end .grid-row --> #}

      <div class="grid-row">
        <div class="tablet:grid-col-12" id="location-container-precip"></div>
        <div class="tablet:grid-col-12" id="chart-div-precip-label"></div>
        <div id="precip-chart"></div>
      </div>



      {# <div class="grid-row">
        <div class="tablet:grid-col-12 precip-map-legend">
          <h4>Legend</h4>
          <ul>
            <li class="test"><span></span> Drought persists</li>
          </ul>
        </div>
      </div><!-- end .grid-row --> #}


    </div><!-- end .map-data-column -->


  </div><!-- end outer .grid-row for .map-column and .map-data-column -->
