  <div class="grid-row">
    <header class="tablet:grid-col-7" id="temp-map-header">
      <h2 class="title"></h2>
      <h3 class="valid-dates"></h3>
    </header>
  </div>

  <div class="grid-row">
    <div class="tablet:grid-col-8 map-column">

      <div class="grid-row">
        <div class="tablet:grid-col-12">          
          <img id="legend_div" style="margin-top:1px;height:20px;width:500px" src="https://www.cpc.ncep.noaa.gov/products/predictions/610day/interactive/graphics/conus/temp_legend.jpg">
          <div id="temp-map"></div>
        </div>
      </div>
      <div class="grid-row" id="temp-map__view-controls">
        <div class="tablet:grid-col-8">
          <div class="opacity-slider">
            <input type="range" min="0.0" max="1.0" value="0.6" step="0.1" class="temp-opacity-slider__range" id="temp-opacity-level" name="temp-opacity-level">
            <label for="temp-opacity-level">Opacity: <span class="temp-opacity-slider__value"></span>%</label>
          </div>
        </div>
        <div class="tablet:grid-col-4">
          <fieldset class="usa-fieldset">
            <legend class="usa-sr-only">Map View</legend>
            <div class="usa-radio">
              <input class="usa-radio__input" id="temp-conus" type="radio" checked name="temp-map-view" value="conus">
              <label class="usa-radio__label" for="temp-conus">CONUS</label>
              <input class="usa-radio__input" id="temp-alaska" type="radio" name="temp-map-view" value="alaska">
              <label class="usa-radio__label" for="temp-alaska">Alaska</label>
            </div>
          </fieldset>
        </div>
      </div>

      <div class="grid-row">
        <div class="tablet:grid-col-12 temp-image image-links">
          <h4>Images</h4>
          <ul>
            <li><a href="">View larger image</a></li>
          </ul>
        </div>
      </div><!-- end .grid-row -->

    </div><!-- end .map-column-->

    <div class="tablet:grid-col-4 map-data-column">

      <div class="grid-row">
        <div class="tablet:grid-col-12" id="temp-map__view-select">
          <h4>Duration</h4>
          <fieldset class="usa-fieldset">
            <legend class="usa-sr-only">Outlook Duration</legend>
            <div class="usa-radio">
              <input class="usa-radio__input" id="temp610day" type="radio" checked name="temp-map-duration" value="temp610day">
              <label class="usa-radio__label" for="temp610day">6 - 10 Day</label>
              <input class="usa-radio__input" id="temp814day" type="radio" name="temp-map-duration" value="temp814day">
              <label class="usa-radio__label" for="temp814day">8 - 14 Day</label>
              <input class="usa-radio__input" id="tempmonthly" type="radio" name="temp-map-duration" value="tempmonthly">
              <label class="usa-radio__label" for="tempmonthly">Monthly</label>
              <input class="usa-radio__input" id="temp3month" type="radio" name="temp-map-duration" value="temp3month">
              <label class="usa-radio__label" for="temp3month">3 Month</label>
            </div>
          </fieldset>
          {# <p class="temp-monitor-link"><a href="https://droughtmonitor.unl.edu/" target="_blank">U.S. Drought Monitor<i class="fas fa-external-link-alt"></i></a></p> #}
        </div>
        <div class="tablet:grid-col-12">
          <div class="lead-selector-container">
            <form class="usa-form" id="lead-selector">
              <label class="usa-label" for="lead-options">Select a Lead</label>
              <select class="usa-select" name="lead-options" id="lead-options">
                <option value="temp-lead-1"></option>
                <option value="temp-lead-2"></option>
                <option value="temp-lead-3"></option>
                <option value="temp-lead-4"></option>
                <option value="temp-lead-5"></option>
                <option value="temp-lead-6"></option>
                <option value="temp-lead-7"></option>
                <option value="temp-lead-8"></option>
                <option value="temp-lead-9"></option>
                <option value="temp-lead-10"></option>
                <option value="temp-lead-11"></option>
                <option value="temp-lead-12"></option>
                <option value="temp-lead-13"></option>
              </select>
              {# <input class="usa-button" type="submit" value="Select Lead"> #}
            </form>
          </div>
        </div>
      </div><!-- end .grid-row -->


      {#<div class="grid-row">
        <div class="tablet:grid-col-12 discussion-button">
          <button class="usa-button font-sans-3xs">6-10 Day Outlook Discussion</button>
        </div>
      </div><!-- end .grid-row -->#}

      <div class="grid-row">

      </div>

      <div class="grid-row">
        <div class="tablet:grid-col-12" id="location-container"></div>
        <div class="tablet:grid-col-12" id="chart_div_temp_label_max"></div>
        <div class="tablet:grid-col-12" id="chart_div_temp_label_min"></div>
        <div id="temp-chart"></div>
      </div>

      {# <div class="grid-row">
        <div class="tablet:grid-col-12 temp-map-legend">
          <h4>Legend</h4>
          <ul>
             <li class="test"><span></span> Drought persists</li>
          </ul>
        </div>
      </div><!-- end .grid-row --> #}

    </div><!-- end .map-data-column -->


  </div><!-- end outer .grid-row for .map-column and .map-data-column -->

  <!-- Esri Leaflet Geocoder -->
