  <div class="grid-row">
    <header class="tablet:grid-col-12" id="temp-map-header">
      <h2 class="title"></h2>
      <h3 class="valid-dates"></h3>
      <div class="slidecontainer">
        <p>Opacity: <span id="sliderValue"></span>%</p>
        <input type="range" min="1" max="100" value="60" class="slider" id="myRange">
      
    </div>
    </header>
  </div>

  <div class="grid-row">
    <div class="tablet:grid-col-8 map-column">

      <div class="grid-row">
        <div class="tablet:grid-col-12">
          <div id="temp-map"></div>
        </div>
      </div>
      <div class="grid-row" id="temp-map__view-controls">
        <div class="tablet:grid-col-8">
        </div>
        <div class="tablet:grid-col-4">
          <fieldset class="usa-fieldset">
            <legend class="usa-sr-only">Map View</legend>
            <div class="usa-radio">
              <input class="usa-radio__input" id="temp-conus" type="radio" checked name="temp-map-view" value="conus">
              <label class="usa-radio__label" for="temp-conus">CONUS</label>
              <input class="usa-radio__input" id="temp-alaska" type="radio" name="temp-map-view" value="alaska">
              <label class="usa-radio__label" for="temp-alaska">Alaska</label>
            </div>
          </fieldset>
        </div>
      </div>

    </div><!-- end .map-column-->

    <div class="tablet:grid-col-4 map-data-column">

      <div class="grid-row">
        <div class="tablet:grid-col-12" id="temp-map__view-select">
          <h4>Category</h4>
          <fieldset class="usa-fieldset">
            <legend class="usa-sr-only">Outlook Category</legend>
            <div class="usa-radio">
              <input class="usa-radio__input" id="temp" type="radio" checked name="temp-map-category" value="temp">
              <label class="usa-radio__label" for="temp">Temperature</label>
              <input class="usa-radio__input" id="precip" type="radio" name="temp-map-category" value="precip">
              <label class="usa-radio__label" for="precip">Precipitation</label>
            </div>
          </fieldset>
          {# <p class="temp-monitor-link"><a href="https://droughtmonitor.unl.edu/" target="_blank">U.S. Drought Monitor<i class="fas fa-external-link-alt"></i></a></p> #}
        </div>
      </div><!-- end .grid-row -->

      <div class="grid-row">
        <div class="tablet:grid-col-12 discussion-button">
          <button class="usa-button font-sans-3xs">6-10 Day Outlook Discussion</button>
        </div>
      </div><!-- end .grid-row -->

      <div class="grid-row">
        <div class="tablet:grid-col-12 temp-image image-links">
          <h4>Images</h4>
          <ul>
            <li><a href="">View larger image</a></li>
          </ul>
        </div>
      </div><!-- end .grid-row -->

      <div class="grid-row">
        <div class="tablet:grid-col-12 temp-map-legend">
          <h4>Legend</h4>
          <ul>
            {# <li class="test"><span></span> Drought persists</li>           #}
          </ul>
        </div>
      </div><!-- end .grid-row -->


    </div><!-- end .map-data-column -->

  </div><!-- end outer .grid-row for .map-column and .map-data-column -->
